$color-light-1: #fff;
$color-light-2: rgb(240, 240, 240);
$color-dark-1: rgb(19, 19, 19);
$color-dark-2: rgb(34, 34, 34);

$height-header: 70px;

$color-primary: rgb(0, 68, 255);
$color-danger: rgb(241, 19, 56);
$color-secondary: rgb(107, 107, 107);
$color-warning: rgb(255, 166, 0);
$color-success: rgb(2, 231, 21);
$color-dark: rgb(0, 0, 0);
$color-light: rgb(236, 236, 236);
$color-pink: rgb(231, 2, 155);
$color-orange: rgb(255, 51, 0);
